<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Hi there everyone! My name is <a target="_blank" href="https://github.com/jccjdb/geek-mom">Jade, the Geek Mom!</a>
  </p>
  <br />
  <p>
    My family and I love to play games together, whether it be video games, trading card, or tabletop. We are even beginning to make mock youtube videos! Fun stuff!
  </p>

  <p>
    Coding will help me to put my geekiness to good use!
  </p>

   <div class="row">
      <div class="col-12 col-sm-4">
        <%= image_tag 'silly.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jade Cribbs</h2>
    <br />
    <p>
      No more food or retail jobs for me!
    </p>
   </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />

